# Computer specific configurations
localbin/*
!localbin/README.adoc
.personalrc
.localrc
.navi/local.cheat
# Folders that should be ignored because of using stow
.config/coc
.config/configstore
.config/iterm2
.config/nvim/plugin/packer_compiled.lua
.bundle
!.bundle/config
# Computer-specific things that I should probably compile into localbin instead of here
bin/colorls
bin/ttmux
bin/ngrok
bin/nvim
Brewfile.lock.json
!.vim/undo/.keep
.vim/backups/**/*
.vim/plugged/**/*
.vim/undo/*
!.vim/backups/.keep
!.vim/plugged/.keep
.pry_history
