# vim: textwidth=0:filetype=sh:autoindent:noexpandtab:tabstop=4:shiftwidth=4
[user]
	name = Jay Dorsey
	email = 191564+jaydorsey@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	ignorecase = false
	pager = delta
	commitGraph = true
	attributesfile = /Users/jay/.gitattributes
[blame]
	showEmail = true
[alias]
	a = add -A
	authors = log --abbrev-commit --format="%an" --no-merges
	b = branch
	cane = commit --amend --no-edit
	co = checkout
	d = diff -w --word-diff
	fixup = !sh -c 'REV=$(git rev-parse $1) && git commit --fixup $@ && git rebase -i --autosquash $REV^' -
	git = !exec git
	graph = log --graph --all --decorate --stat --date=iso
	last = log -1 HEAD
	# http://ses4j.github.io/2020/04/01/git-alias-recent-branches/
	lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
	lg = log --oneline --graph
	lgg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\n--abbrev-commit --date=relative --decorate=full
	ls = ls-files
	recent = !git log --no-walk --date-order --oneline --decorate $(git rev-list --branches --no-walk)
	s = status
	standup = log --since yesterday --oneline --no-merges --author jaydorsey
	state = !git fetch origin && git remote show origin && :
	stats = shortlog -sn --since='30 days'
	sync = !git fetch origin && git remote prune origin && :
	sw = switch
	visual = !gitk
	ctags = !.git/hooks/ctags
	bclean = !sh -c 'git branch --merged ${1-master} | grep -v "main" | grep -v "master" | grep -v "production" | xargs git b -D' -
	bcleantest = !sh -c 'git branch --merged ${1-master} | grep -v "main" | grep -v "master" | grep -v "production"' -
	untracked = ls-files --others --exclude-standard
[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	syntax-theme = Monokai Extended
	side-by-side = true
	navigate = true
	line-numbers = true
	light = false
[interactive]
	diffFilter = delta --color-only
[branch]
	autosetuprebase = always
	autosetupmerge = always
[color]
	branch = auto
	diff = true
	interactive = true
	status = auto
	ui = true
	pager = true
[commit]
	verbose = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[push]
	default = simple
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[rebase]
	autosquash = true
[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff]
	compactionHeuristic = true
	tool = Kaleidoscope
	colorMoved = default
[diff "rspec"]
	xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario)[ \t].*)$"
[diff "spaceman-diff"]
	command = /usr/local/bin/spaceman-diff
[diff-so-fancy]
	changeHunkIndicators = false
[diff "hex"]
	textconv = hexdump -v -C
	binary = true
[rerere]
	enabled = true
[gc]
	writeCommitGraph = true
[fetch]
	writeCommitGraph = true
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[pull]
	rebase = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[merge]
	tool = Kaleidoscope
	conflictstyle = diff3
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
