# Computer specific configurations
localbin/*
!localbin/README.adoc
.personalrc
.localrc
.navi_cheatsheets/local.cheat
# Folders that should be ignored because of using stow
.config/broot
.config/coc
.config/configstore
# Podman
.config/containers/
.config/fontforge
.config/gh
.config/htop
.config/iterm2
.config/lnav
.config/Autodesk
.config/ngrok/ngrok.yml
.config/nvim/plugin/packer_compiled.lua
# Alternate location for the compiled file
.config/nvim/lua/packer_compiled.lua
.config/AWSVPNClient
.config/github-copilot
.config/AWS VPN Client/
.bundle
!.bundle/config
# Computer-specific things that I should probably compile into localbin instead of here
bin/colorls
bin/ttmux
bin/ngrok
bin/nvim
Brewfile.lock.json
!.vim/undo/.keep
.vim/backups/**/*
.vim/plugged/**/*
.vim/undo/*
!.vim/backups/.keep
!.vim/plugged/.keep
.pry_history
